
USE [SISFOOD]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_USUARIO] [uniqueidentifier] NOT NULL,
	[MODULO] [varchar](50) NOT NULL,
	[OPERACION] [varchar](50) NOT NULL,
	[CRITICIDAD] [int] NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[TELEFONO] [varchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMANDA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMANDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](255) NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_COCINERO] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_COMANDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVH]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVH](
	[TABLA] [varchar](50) NOT NULL,
	[REGISTRO] [int] NOT NULL,
	[DV] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[TABLA] [varchar](50) NOT NULL,
	[COLUMNA] [int] NOT NULL,
	[DV] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETIQUETA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETIQUETA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ETIQUETA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[NRO_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[NRO_ORDEN] [int] NOT NULL,
	[TOTAL_CUOTAS] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[NRO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO](
	[ID_PADRE] [int] NOT NULL,
	[ID_HIJO] [int] NOT NULL,
 CONSTRAINT [PK_GRUPO] PRIMARY KEY CLUSTERED 
(
	[ID_PADRE] ASC,
	[ID_HIJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDIOMA] [varchar](50) NOT NULL,
	[PREESTABLECIDO] [bit] NOT NULL,
 CONSTRAINT [PK_IDIOMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENTE](
	[COD_INGREDIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CANTIDAD_ACTUAL] [int] NOT NULL,
	[COSTO_REFERENCIAL] [float] NULL,
	[STOCK_MINIMO] [int] NULL,
	[STOCK_MAXIMO] [int] NULL,
 CONSTRAINT [PK_INGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[COD_INGREDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_INGREDIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_INGREDIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COD_INGREDIENTE] [int] NOT NULL,
	[NRO_SOLICITUD] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO_COTIZACION] [float] NOT NULL,
 CONSTRAINT [PK_ITEM_INGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_PRODUCTO](
	[COD_PRODUCTO] [int] NOT NULL,
	[NRO_PEDIDO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO_COMPRA] [float] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ITEM_PRODUCTO_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_DE_PAGO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_DE_PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTA_DE_ENTREGA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTA_DE_ENTREGA](
	[NRO_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[NRO_ORDEN] [int] NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
	[OBSERVACIONES] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_NOTA_DE_ENTREGA] PRIMARY KEY CLUSTERED 
(
	[NRO_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_DE_COMPRA](
	[NRO_ORDEN] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[CUIT_PROVEEDOR] [int] NOT NULL,
	[NRO_SOLICITUD] [int] NOT NULL,
	[ESTADO_ORDEN] [varchar](50) NOT NULL,
	[OBSERVACIONES] [varchar](1000) NULL,
	[CONDICION_PAGO] [varchar](100) NULL,
 CONSTRAINT [PK_ORDEN_DE_COMPRA] PRIMARY KEY CLUSTERED 
(
	[NRO_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TOTAL] [float] NOT NULL,
	[ID_METODO] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_EFECTIVO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_EFECTIVO](
	[ID] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_INSUMO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_INSUMO](
	[NRO_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[NRO_FACTURA] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[MONTO] [float] NOT NULL,
	[TIPO_PAGO] [varchar](50) NOT NULL,
	[NRO_CUOTA] [int] NOT NULL,
 CONSTRAINT [PK_PAGO_INSUMO] PRIMARY KEY CLUSTERED 
(
	[NRO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_TARJETA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_TARJETA](
	[ID] [int] NOT NULL,
	[NUMERO] [bigint] NOT NULL,
	[VENCIMIENTO] [datetime] NOT NULL,
	[CVV] [int] NOT NULL,
	[TITULAR] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[NRO_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ESTADO_PAGO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[NRO_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[COD_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[PRECIO_ACTUAL] [float] NOT NULL,
	[BORRADO] [bit] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_C]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_C](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COD_PRODUCTO] [int] NULL,
	[FECHA] [date] NULL,
	[HORA] [time](7) NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[PRECIO_ACTUAL] [float] NULL,
	[ACTIVO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_INGREDIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_INGREDIENTE](
	[COD_PRODUCTO] [int] NOT NULL,
	[COD_INGREDIENTE] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_INGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTO] ASC,
	[COD_INGREDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[CUIT] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITUD_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUD_DE_COMPRA](
	[NRO_SOLICITUD] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
	[COMENTARIOS] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_SOLICITUD_DE_COMPRA] PRIMARY KEY CLUSTERED 
(
	[NRO_SOLICITUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRADUCCION]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRADUCCION](
	[ID_IDIOMA] [int] NOT NULL,
	[ID_ETIQUETA] [int] NOT NULL,
	[TRADUCCION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TRADUCCION] PRIMARY KEY CLUSTERED 
(
	[ID_IDIOMA] ASC,
	[ID_ETIQUETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [uniqueidentifier] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[BLOQUEO] [bit] NOT NULL,
	[INTENTOS] [int] NOT NULL,
	[DISPONIBILIDAD] [varchar](50) NOT NULL,
	[ID_IDIOMA] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[ID_USUARIO] [uniqueidentifier] NOT NULL,
	[ID_PERMISO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ETIQUETA] ON 

INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE]) VALUES (61, N'acept')
INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE]) VALUES (64, N'acepted')
INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE]) VALUES (37, N'add')
SET IDENTITY_INSERT [dbo].[ETIQUETA] OFF

GO
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 1)
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 2)
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[IDIOMA] ON 

INSERT [dbo].[IDIOMA] ([ID], [IDIOMA], [PREESTABLECIDO]) VALUES (1, N'Español', 1)
INSERT [dbo].[IDIOMA] ([ID], [IDIOMA], [PREESTABLECIDO]) VALUES (2, N'English', 0)
INSERT [dbo].[IDIOMA] ([ID], [IDIOMA], [PREESTABLECIDO]) VALUES (4, N'test2', 0)
SET IDENTITY_INSERT [dbo].[IDIOMA] OFF
GO
SET IDENTITY_INSERT [dbo].[INGREDIENTE] ON 

INSERT [dbo].[INGREDIENTE] ([COD_INGREDIENTE], [NOMBRE], [CANTIDAD_ACTUAL], [COSTO_REFERENCIAL], [STOCK_MINIMO], [STOCK_MAXIMO]) VALUES (1, N'Carne de res', 98, 1500, 50, 200)
INSERT [dbo].[INGREDIENTE] ([COD_INGREDIENTE], [NOMBRE], [CANTIDAD_ACTUAL], [COSTO_REFERENCIAL], [STOCK_MINIMO], [STOCK_MAXIMO]) VALUES (2, N'Camarones', 91, 2500, 30, 100)
INSERT [dbo].[INGREDIENTE] ([COD_INGREDIENTE], [NOMBRE], [CANTIDAD_ACTUAL], [COSTO_REFERENCIAL], [STOCK_MINIMO], [STOCK_MAXIMO]) VALUES (3, N'Pechuga de pollo', 284, 1200, 50, 300)
SET IDENTITY_INSERT [dbo].[INGREDIENTE] OFF
GO

GO

SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (1, N'CrearPedido', N'P')
INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (2, N'VerPedidos', N'P')
INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (3, N'CobrarPedido', N'P')
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([COD_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_ACTUAL], [BORRADO]) VALUES (4, N'Bife de chorizo', N'Bife de chorizo la parrilla con puré de papas', 13000, 0)
INSERT [dbo].[PRODUCTO] ([COD_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_ACTUAL], [BORRADO]) VALUES (5, N'Camarones al Ajillo', N'Camarones al ajillo con mucho arroz', 11500, 0)
INSERT [dbo].[PRODUCTO] ([COD_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_ACTUAL], [BORRADO]) VALUES (6, N'Pollo a la Parrilla', N'Pechuga de pollo a la parrilla con vegetales', 8000, 0)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF

GO
INSERT [dbo].[PRODUCTO_INGREDIENTE] ([COD_PRODUCTO], [COD_INGREDIENTE]) VALUES (4, 1)
INSERT [dbo].[PRODUCTO_INGREDIENTE] ([COD_PRODUCTO], [COD_INGREDIENTE]) VALUES (4, 16)
INSERT [dbo].[PRODUCTO_INGREDIENTE] ([COD_PRODUCTO], [COD_INGREDIENTE]) VALUES (5, 2)
GO
INSERT [dbo].[PROVEEDOR] ([CUIT], [NOMBRE], [EMAIL], [TELEFONO], [DIRECCION]) VALUES (12345678, N'Daniel', N'barnique2802@gmail.com', 11223344, N'Calle Falsa 123, Ciudad')
INSERT [dbo].[PROVEEDOR] ([CUIT], [NOMBRE], [EMAIL], [TELEFONO], [DIRECCION]) VALUES (12398745, N'Proveedor XYZ', N'ventas@xyzproveedor.com', 33445566, N'Calle Luna 789, Ciudad')
INSERT [dbo].[PROVEEDOR] ([CUIT], [NOMBRE], [EMAIL], [TELEFONO], [DIRECCION]) VALUES (56784321, N'Proveedor Alpha', N'alpha@proveedor.com', 44556677, N'Av. Central 101, Ciudad')

GO
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION]) VALUES (1, 1, N'Sesión')
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION]) VALUES (1, 2, N'Iniciar Sesión')
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION]) VALUES (1, 3, N'Cerrar Sesión')
GO
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [PASSWORD], [DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO], [BLOQUEO], [INTENTOS], [DISPONIBILIDAD], [ID_IDIOMA]) VALUES (N'8ec879b1-3c09-45e0-bf41-a704ef40946a', N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'EAAAABRACj+sdozztsShyBOh5pi969NfflI/D8bR2/upWw1i', N'admin', N'admin', N'admin@admin.com', 1, 0, 0, N'NoDisponible', 2)
GO
INSERT [dbo].[USUARIO_PERMISO] ([ID_USUARIO], [ID_PERMISO]) VALUES (N'8ec879b1-3c09-45e0-bf41-a704ef40946a', 6)
GO
/****** Object:  Index [UC_DNI_CLIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [UC_DNI_CLIENTE] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Nombre_Etiqueta]    Script Date: 10/30/2024 9:02:13 PM ******/
ALTER TABLE [dbo].[ETIQUETA] ADD  CONSTRAINT [UQ_Nombre_Etiqueta] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Idioma]    Script Date: 10/30/2024 9:02:13 PM ******/
ALTER TABLE [dbo].[IDIOMA] ADD  CONSTRAINT [UQ_Idioma] UNIQUE NONCLUSTERED 
(
	[IDIOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_DNI]    Script Date: 10/30/2024 9:02:13 PM ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [UC_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  DEFAULT ('NoPagado') FOR [ESTADO_PAGO]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [BORRADO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_BLOQUEO]  DEFAULT ((0)) FOR [BLOQUEO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_INTENTOS]  DEFAULT ((0)) FOR [INTENTOS]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF__USUARIO__DISPONI__607251E5]  DEFAULT ('NoDisponible') FOR [DISPONIBILIDAD]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ID_IDIOMA]  DEFAULT ((1)) FOR [ID_IDIOMA]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_USUARIO]
GO
ALTER TABLE [dbo].[COMANDA]  WITH CHECK ADD  CONSTRAINT [FK_COMANDA_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([NRO_PEDIDO])
GO
ALTER TABLE [dbo].[COMANDA] CHECK CONSTRAINT [FK_COMANDA_PEDIDO]
GO
ALTER TABLE [dbo].[COMANDA]  WITH CHECK ADD  CONSTRAINT [FK_COMANDA_USUARIO] FOREIGN KEY([ID_COCINERO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[COMANDA] CHECK CONSTRAINT [FK_COMANDA_USUARIO]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_ORDEN_DE_COMPRA] FOREIGN KEY([NRO_ORDEN])
REFERENCES [dbo].[ORDEN_DE_COMPRA] ([NRO_ORDEN])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_ORDEN_DE_COMPRA]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO] FOREIGN KEY([ID_PADRE])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO1] FOREIGN KEY([ID_HIJO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO1]
GO
ALTER TABLE [dbo].[ITEM_INGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_INGREDIENTE_INGREDIENTE] FOREIGN KEY([COD_INGREDIENTE])
REFERENCES [dbo].[INGREDIENTE] ([COD_INGREDIENTE])
GO
ALTER TABLE [dbo].[ITEM_INGREDIENTE] CHECK CONSTRAINT [FK_ITEM_INGREDIENTE_INGREDIENTE]
GO
ALTER TABLE [dbo].[ITEM_INGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_INGREDIENTE_SOLICITUD_DE_COMPRA] FOREIGN KEY([NRO_SOLICITUD])
REFERENCES [dbo].[SOLICITUD_DE_COMPRA] ([NRO_SOLICITUD])
GO
ALTER TABLE [dbo].[ITEM_INGREDIENTE] CHECK CONSTRAINT [FK_ITEM_INGREDIENTE_SOLICITUD_DE_COMPRA]
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_PRODUCTO_PEDIDO] FOREIGN KEY([NRO_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([NRO_PEDIDO])
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO] CHECK CONSTRAINT [FK_ITEM_PRODUCTO_PEDIDO]
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_PRODUCTO_PRODUCTO] FOREIGN KEY([COD_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([COD_PRODUCTO])
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO] CHECK CONSTRAINT [FK_ITEM_PRODUCTO_PRODUCTO]
GO
ALTER TABLE [dbo].[NOTA_DE_ENTREGA]  WITH CHECK ADD  CONSTRAINT [FK_NOTA_DE_ENTREGA_ORDEN_DE_COMPRA] FOREIGN KEY([NRO_ORDEN])
REFERENCES [dbo].[ORDEN_DE_COMPRA] ([NRO_ORDEN])
GO
ALTER TABLE [dbo].[NOTA_DE_ENTREGA] CHECK CONSTRAINT [FK_NOTA_DE_ENTREGA_ORDEN_DE_COMPRA]
GO
ALTER TABLE [dbo].[ORDEN_DE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_DE_COMPRA_PROVEEDOR] FOREIGN KEY([CUIT_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([CUIT])
GO
ALTER TABLE [dbo].[ORDEN_DE_COMPRA] CHECK CONSTRAINT [FK_ORDEN_DE_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[ORDEN_DE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_DE_COMPRA_SOLICITUD_DE_COMPRA] FOREIGN KEY([NRO_SOLICITUD])
REFERENCES [dbo].[SOLICITUD_DE_COMPRA] ([NRO_SOLICITUD])
GO
ALTER TABLE [dbo].[ORDEN_DE_COMPRA] CHECK CONSTRAINT [FK_ORDEN_DE_COMPRA_SOLICITUD_DE_COMPRA]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_METODO_DE_PAGO] FOREIGN KEY([ID_METODO])
REFERENCES [dbo].[METODO_DE_PAGO] ([ID])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_METODO_DE_PAGO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([NRO_PEDIDO])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_PEDIDO]
GO
ALTER TABLE [dbo].[PAGO_EFECTIVO]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[METODO_DE_PAGO] ([ID])
GO
ALTER TABLE [dbo].[PAGO_INSUMO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_INSUMO_FACTURA] FOREIGN KEY([NRO_FACTURA])
REFERENCES [dbo].[FACTURA] ([NRO_FACTURA])
GO
ALTER TABLE [dbo].[PAGO_INSUMO] CHECK CONSTRAINT [FK_PAGO_INSUMO_FACTURA]
GO
ALTER TABLE [dbo].[PAGO_TARJETA]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[METODO_DE_PAGO] ([ID])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PRODUCTO_C]  WITH CHECK ADD FOREIGN KEY([COD_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([COD_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_INGREDIENTE_INGREDIENTE] FOREIGN KEY([COD_INGREDIENTE])
REFERENCES [dbo].[INGREDIENTE] ([COD_INGREDIENTE])
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE] CHECK CONSTRAINT [FK_PRODUCTO_INGREDIENTE_INGREDIENTE]
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_INGREDIENTE_PRODUCTO] FOREIGN KEY([COD_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([COD_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE] CHECK CONSTRAINT [FK_PRODUCTO_INGREDIENTE_PRODUCTO]
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD  CONSTRAINT [FK_TRADUCCION_ETIQUETA] FOREIGN KEY([ID_ETIQUETA])
REFERENCES [dbo].[ETIQUETA] ([ID])
GO
ALTER TABLE [dbo].[TRADUCCION] CHECK CONSTRAINT [FK_TRADUCCION_ETIQUETA]
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD  CONSTRAINT [FK_TRADUCCION_IDIOMA] FOREIGN KEY([ID_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([ID])
GO
ALTER TABLE [dbo].[TRADUCCION] CHECK CONSTRAINT [FK_TRADUCCION_IDIOMA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_IDIOMA] FOREIGN KEY([ID_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_IDIOMA]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERMISO_PERMISO] FOREIGN KEY([ID_PERMISO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_USUARIO_PERMISO_PERMISO]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERMISO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_USUARIO_PERMISO_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_CLIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_CLIENTE]
    @id INT,
    @nombre VARCHAR(50),
    @apellido VARCHAR(50),
    @telefono VARCHAR(50),
    @dni INT
AS
BEGIN


    UPDATE CLIENTE
    SET 
        NOMBRE = @nombre,
        APELLIDO = @apellido,
        TELEFONO = @telefono,
        DNI = @dni
    WHERE 
        ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_DISPONIBILIDAD_USUARIO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_DISPONIBILIDAD_USUARIO]
    @id uniqueidentifier,
    @Disponibilidad VARCHAR(50)
AS
BEGIN


    UPDATE USUARIO
    SET DISPONIBILIDAD = @Disponibilidad
    WHERE ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_PEDIDO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ACTUALIZAR_PEDIDO]
	-- Add the parameters for the stored procedure here
	@nro int,
	@est varchar(50),
	@pag varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
 UPDATE PEDIDO 
 SET	ESTADO = @est,
		ESTADO_PAGO = @pag
 WHERE NRO_PEDIDO = @nro
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_PRODUCTO]
    @cod INT,
    @nombre VARCHAR(50),
    @descripcion VARCHAR(100),
    @precio FLOAT,
    @borrado BIT
AS
BEGIN


    UPDATE PRODUCTO
    SET 
        NOMBRE = @nombre,
        DESCRIPCION = @descripcion,
        PRECIO_ACTUAL = @precio,
        BORRADO = @borrado
    WHERE 
        COD_PRODUCTO = @cod;
END;
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_STOCK_INGREDIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ACTUALIZAR_STOCK_INGREDIENTE] 
	-- Add the parameters for the stored procedure here
	@cod int,
	@cant int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
 UPDATE INGREDIENTE SET CANTIDAD_ACTUAL = @cant WHERE COD_INGREDIENTE = @cod
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO]
	@id UNIQUEiDENTIFIER,
    @username VARCHAR(50),
    @dni VARCHAR(50),
    @nom VARCHAR(50),
    @ape VARCHAR(50),
    @email VARCHAR(50),
	@intentos int
AS
BEGIN
    UPDATE USUARIO
    SET
        USERNAME = @username,
        DNI = @dni,
        NOMBRE = @nom,
        APELLIDO = @ape,
        EMAIL = @email,
		INTENTOS = @intentos
    WHERE
         ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_ACTIVIDAD]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_ACTIVIDAD]
	@activo binary(50),
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set ACTIVO = @activo
	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_BLOQUEO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_BLOQUEO]
	@bloqueo binary(50),
	@id uniqueidentifier,
	@intentos int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set BLOQUEO=@bloqueo,
			INTENTOS=@intentos

	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_PASSWORD]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_PASSWORD]
	@password varchar(50),
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set PASSWORD=@password
	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_CLIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_CLIENTE]
    @id INT
AS
BEGIN

    UPDATE CLIENTE
    SET ACTIVO = 0
    WHERE ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_GRUPO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ELIMINAR_GRUPO]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	delete from GRUPO where ID_PADRE=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_ITEM_INGREDIENTE_POR_SOLICITUD]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_ITEM_INGREDIENTE_POR_SOLICITUD]
    @NroSolicitud INT
AS
BEGIN
    -- Elimina todos los registros de la tabla ITEM_INGREDIENTE
    -- que están relacionados con la solicitud dada
    DELETE FROM ITEM_INGREDIENTE
    WHERE NRO_SOLICITUD = @NroSolicitud;
END;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ELIMINAR_PRODUCTO]
@codigo int
as
begin

	update PRODUCTO
	set BORRADO = 1
	where COD_PRODUCTO = @codigo;

end
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_TODOS_DVH]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ELIMINAR_TODOS_DVH]
AS
BEGIN

Delete from DVH;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_TODOS_DVV]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ELIMINAR_TODOS_DVV]
AS
BEGIN

Delete from DVV
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO_PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO_PERMISO] 
	-- Add the parameters for the stored procedure here
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	delete from USUARIO_PERMISO where ID_USUARIO=@id
END
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_BITACORA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FILTRAR_BITACORA]
    @fechaInicio DATETIME,
    @fechaFin DATETIME,
    @usuario UNIQUEIDENTIFIER = NULL,
    @criticidad INT = NULL,
    @operacion VARCHAR(50) = NULL,
    @modulo VARCHAR(50) = NULL
AS
BEGIN
    SELECT * 
    FROM BITACORA
    WHERE FECHA BETWEEN @fechaInicio AND @fechaFin
    AND (@usuario IS NULL OR ID_USUARIO = @usuario)
    AND (@criticidad IS NULL OR CRITICIDAD = @criticidad)
    AND (@operacion IS NULL OR OPERACION = @operacion)
    AND (@modulo IS NULL OR MODULO = @modulo)
END
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_BITACORA_CAMBIOS]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[FILTRAR_BITACORA_CAMBIOS]
	@fechaInicio DATETIME,
	@fechaFin DATETIME,
	@codigo int = NULL,
	@nombre varchar(50) = null
as
begin

select * from PRODUCTO_C
where FECHA BETWEEN @fechaInicio AND @fechaFin
and (@codigo is null or COD_PRODUCTO = @codigo)
and (@nombre is null or NOMBRE = @nombre)
end
GO
/****** Object:  StoredProcedure [dbo].[GENERAR_BACKUP]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GENERAR_BACKUP]
    @ruta VARCHAR(1000)
AS
BEGIN
    DECLARE @sqlCommand NVARCHAR(1000)
    SET @sqlCommand = 'BACKUP DATABASE [SISFOOD] TO DISK = ''' + @ruta + ''' WITH NOFORMAT, INIT, NAME = ''SISFOOD-Completa Base de datos Copia de seguridad'', SKIP, NOREWIND, NOUNLOAD, STATS = 10'
    BEGIN TRY
        EXEC(@sqlCommand)
        select 1 -- Indicar éxito
    END TRY
    BEGIN CATCH
        select -1 -- Indicar error
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_BITACORA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_BITACORA]
    @ID_USUARIO uniqueidentifier,
    @MODULO varchar(50),
    @OPERACION varchar(50),
    @CRITICIDAD int,
	@FECHA datetime
AS
BEGIN
    

    INSERT INTO BITACORA (FECHA, ID_USUARIO, MODULO, OPERACION, CRITICIDAD)
    VALUES (@FECHA, @ID_USUARIO, @MODULO, @OPERACION, @CRITICIDAD);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_CLIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_CLIENTE]
	-- Add the parameters for the stored procedure here
	@nom varchar(50),
	@ape varchar(50),
	@dni int,
	@tel varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into CLIENTE(NOMBRE,APELLIDO,DNI,TELEFONO) values (@nom,@ape,@dni,@tel);

	SELECT SCOPE_IDENTITY() AS NewID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_COMANDA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_COMANDA]
    @Descripcion VARCHAR(255),
    @idPedido INT,
    @idCocinero uniqueidentifier
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO COMANDA (DESCRIPCION, ID_PEDIDO , ID_COCINERO)
    VALUES (@Descripcion, @idPedido, @idCocinero);

    SELECT SCOPE_IDENTITY() AS ComandaID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_DVH]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_DVH]
    @tabla VARCHAR(50),
    @reg INT,
    @dv VARCHAR(200)
AS
BEGIN


    INSERT INTO DVH (TABLA, REGISTRO, DV)
    VALUES (@tabla, @reg, @dv);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_DVV]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_DVV]
    @tabla VARCHAR(50),
    @col INT,
    @dv VARCHAR(200)
AS
BEGIN
  

    INSERT INTO DVV (TABLA, COLUMNA, DV)
    VALUES (@tabla, @col, @dv);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_FACTURA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_FACTURA]
    @fecha DATETIME,
    @nro_orden INT,
    @total_cuotas INT,
    @monto FLOAT,
    @estado VARCHAR(50)
AS
BEGIN
    INSERT INTO FACTURA (FECHA, NRO_ORDEN, TOTAL_CUOTAS, MONTO, ESTADO)
    VALUES (@fecha, @nro_orden, @total_cuotas, @monto, @estado);

    -- Devuelve el ID de la factura recién insertada
    SELECT SCOPE_IDENTITY() AS NRO_FACTURA;
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_GRUPO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_GRUPO] 
	-- Add the parameters for the stored procedure here
	@id_padre int,
	@id_hijo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	insert into GRUPO(ID_PADRE,ID_HIJO) values (@id_padre,@id_hijo);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_IDIOMA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_IDIOMA]
    @IDIOMA VARCHAR(255),
    @PREESTABLECIDO BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO IDIOMA (IDIOMA, PREESTABLECIDO)
    VALUES (@IDIOMA, @PREESTABLECIDO);

    -- Devolver el ID del nuevo idioma insertado
    SELECT SCOPE_IDENTITY() AS NuevoID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_ITEM_INGREDIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_ITEM_INGREDIENTE]
    @codIngrediente INT,
    @nroSolicitud INT,
    @cantidad INT,
    @precioCotizacion FLOAT
AS
BEGIN


    -- Insertar el nuevo item ingrediente
    INSERT INTO ITEM_INGREDIENTE (COD_INGREDIENTE, NRO_SOLICITUD, CANTIDAD, PRECIO_COTIZACION)
    VALUES (@codIngrediente, @nroSolicitud, @cantidad, @precioCotizacion);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_ITEM_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_ITEM_PRODUCTO]
    @cod INT,
    @nro INT,
    @cant INT,
    @pre FLOAT
AS
BEGIN


    INSERT INTO ITEM_PRODUCTO (COD_PRODUCTO, NRO_PEDIDO, CANTIDAD, PRECIO_COMPRA)
    VALUES (@cod, @nro, @cant, @pre);


END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_METODO_DE_PAGO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_METODO_DE_PAGO]
    @tipo VARCHAR(50)
AS
BEGIN


    INSERT INTO Metodo_De_Pago (TIPO)
    VALUES (@tipo);

    SELECT SCOPE_IDENTITY() AS MetodoDePagoId;
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_NOTA_DE_ENTREGA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_NOTA_DE_ENTREGA]
    @fecha DATETIME,
    @nro_orden INT,
	@estado varchar(50),
	@observaciones varchar(1000)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO NOTA_DE_ENTREGA (FECHA, NRO_ORDEN, ESTADO, OBSERVACIONES)
    VALUES (@fecha, @nro_orden, @estado, @observaciones);

    -- Retorna el NRO_NOTA de la nueva nota de entrega insertada
    SELECT SCOPE_IDENTITY() AS NRO_NOTA;
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_ORDEN_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_ORDEN_DE_COMPRA]
    @fecha DATE,
    @cuit INT,
    @nro_solicitud INT,
    @estado_orden VARCHAR(50),
    @observaciones VARCHAR(1000),
    @condicion_pago VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Inserta en la tabla OrdenDeCompra (suponiendo que tiene los campos que coinciden con los parámetros)
    INSERT INTO ORDEN_DE_COMPRA (fecha, cuit_proveedor, nro_solicitud, estado_orden, observaciones, condicion_pago)
    VALUES (@fecha, @cuit, @nro_solicitud, @estado_orden, @observaciones, @condicion_pago);

    -- Devuelve el ID generado, en caso de que la tabla tenga una clave primaria autoincremental
    SELECT SCOPE_IDENTITY() AS 'IdInsertado';
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PAGO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PAGO]
    @Fecha DATETIME,
    @Total FLOAT,
    @IdMetodoDePago INT,
    @IdPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Pago (FECHA, TOTAL, ID_METODO, ID_PEDIDO)
    VALUES (@Fecha, @Total, @IdMetodoDePago, @IdPedido);

    SELECT SCOPE_IDENTITY() AS PagoId;
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PAGO_EFECTIVO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PAGO_EFECTIVO]
    @MetodoDePagoId INT,
    @Monto FLOAT
AS
BEGIN

    INSERT INTO Pago_Efectivo (ID, MONTO)
    VALUES (@MetodoDePagoId, @Monto);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PAGO_INSUMO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PAGO_INSUMO]
    @nro_factura INT,
    @fecha DATETIME,
    @monto FLOAT,
    @tipo_pago VARCHAR(50),
    @nro_cuota INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PAGO_INSUMO (NRO_FACTURA, FECHA, MONTO, TIPO_PAGO, NRO_CUOTA)
    VALUES (@nro_factura, @fecha, @monto, @tipo_pago, @nro_cuota);

    SELECT SCOPE_IDENTITY() AS NRO_PAGO; -- Retorna el ID del pago insertado
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PAGO_TARJETA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PAGO_TARJETA]
    @MetodoDePagoId INT,
    @Numero BIGINT,
    @Vencimiento DATETIME,
    @Cvv INT,
    @Titular VARCHAR(100)
AS
BEGIN

    INSERT INTO Pago_Tarjeta (ID, NUMERO, VENCIMIENTO, CVV, TITULAR)
    VALUES (@MetodoDePagoId, @Numero, @Vencimiento, @Cvv, @Titular);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PEDIDO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PEDIDO]
    @est VARCHAR(50),
    @fec DATETIME,
    @cli INT
AS
BEGIN

SET NOCOUNT ON;
    INSERT INTO PEDIDO (ESTADO, FECHA, ID_CLIENTE)
    VALUES ( @est, @fec, @cli);

	SELECT SCOPE_IDENTITY() AS NewID;

END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_PERMISO]
	-- Add the parameters for the stored procedure here
	@nom varchar(50),
	@type varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

    -- Insert statements for procedure here
	insert into PERMISO (NOMBRE,TIPO) values (@nom,@type);
	select ID as LastID from PERMISO where ID = @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PRODUCTO]
    @nombre VARCHAR(50),
    @descripcion VARCHAR(100),
    @precioActual FLOAT,
    @borrado BIT = 0 -- Por defecto, el producto no está borrado
AS
BEGIN

    INSERT INTO PRODUCTO (NOMBRE, DESCRIPCION, PRECIO_ACTUAL, BORRADO)
    VALUES (@nombre, @descripcion, @precioActual, @borrado);

END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_SOLICITUD_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_SOLICITUD_DE_COMPRA]
    @fecha DATETIME,
    @estado VARCHAR(50),
    @comentarios VARCHAR(1000)
AS
BEGIN
    -- Evitar devolver varios conjuntos de resultados
    SET NOCOUNT ON;

    -- Insertar la nueva solicitud de compra
    INSERT INTO SOLICITUD_DE_COMPRA (FECHA, ESTADO, COMENTARIOS)
    VALUES (@fecha, @estado, @comentarios);

    -- Devolver el ID de la solicitud insertada
    SELECT SCOPE_IDENTITY() AS NRO_SOLICITUD;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_TRADUCCION]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_TRADUCCION]
    @ID_IDIOMA INT,
    @ID_ETIQUETA INT,
    @TRADUCCION VARCHAR(255)
AS
BEGIN
    

    INSERT INTO TRADUCCION (ID_IDIOMA, ID_ETIQUETA, TRADUCCION)
    VALUES (@ID_IDIOMA, @ID_ETIQUETA, @TRADUCCION);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO] 
	-- Add the parameters for the stored procedure here
	@username varchar(50),
	@password varchar(200),
	@dni varchar(50),
	@nom varchar(50),
	@ape varchar(50),
	@email varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	declare @id uniqueidentifier = newid();

    -- Insert statements for procedure here
	insert into USUARIO (ID, USERNAME, PASSWORD, DNI, NOMBRE, APELLIDO, EMAIL) values (@id,@username,@password,@dni,@nom,@ape,@email);

	SELECT @id AS ID_USUARIO;

END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO_PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO_PERMISO]
	-- Add the parameters for the stored procedure here
	@id_usuario uniqueidentifier,
	@id_permiso int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	insert into USUARIO_PERMISO (ID_USUARIO,ID_PERMISO) values (@id_usuario,@id_permiso);
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_BITACORA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_BITACORA]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, FECHA, ID_USUARIO, MODULO, OPERACION, CRITICIDAD
    FROM BITACORA
    ORDER BY FECHA DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_BITACORA_POR_FECHA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_BITACORA_POR_FECHA]
    @FechaInicio datetime,
    @FechaFin datetime
AS
BEGIN

    SELECT ID, FECHA, ID_USUARIO, MODULO, OPERACION, CRITICIDAD
    FROM BITACORA
    WHERE FECHA BETWEEN @FechaInicio AND @FechaFin
    ORDER BY FECHA DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CLIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_CLIENTE] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
SELECT * FROM CLIENTE
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_COCINERO_DISPONIBLE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[LISTAR_COCINERO_DISPONIBLE]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.ID,
        u.USERNAME,
        u.PASSWORD,
        u.DNI,
        u.NOMBRE,
        u.APELLIDO,
        u.EMAIL,
        u.ACTIVO,
        u.BLOQUEO,
        u.INTENTOS,
        u.DISPONIBILIDAD,
		u.ID_IDIOMA
    FROM USUARIO u
    INNER JOIN USUARIO_PERMISO up ON u.ID = up.ID_USUARIO
    INNER JOIN PERMISO p ON up.ID_PERMISO = p.ID
    WHERE u.DISPONIBILIDAD = 'Disponible' AND p.NOMBRE = 'Cocinero';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_COMANDAS]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_COMANDAS]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	Select * from COMANDA
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_COMANDAS_EN_CURSO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_COMANDAS_EN_CURSO]
AS
BEGIN


    SELECT 
        c.ID,
        c.DESCRIPCION,
        c.ID_PEDIDO,
        c.ID_COCINERO
    FROM 
        COMANDA c
    INNER JOIN 
        PEDIDO p ON c.ID_PEDIDO = p.NRO_PEDIDO
    WHERE 
        p.ESTADO = 'EnPreparacion';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_DVH]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_DVH]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM DVH
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_DVV]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_DVV]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM DVV
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ETIQUETA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_ETIQUETA]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM ETIQUETA
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_FACTURA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_FACTURA]
as
begin
Select * from FACTURA
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_GRUPO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_GRUPO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	SELECT * from GRUPO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_IDIOMA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_IDIOMA]
	-- Add the parameters for the stored procedure here
	AS
BEGIN

select * from IDIOMA
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_INGREDIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_INGREDIENTE] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	SELECT * from INGREDIENTE
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_INGREDIENTE_POR_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_INGREDIENTE_POR_PRODUCTO]
	-- Add the parameters for the stored procedure here
	@cod int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select p.COD_INGREDIENTE, i.NOMBRE, i.CANTIDAD_ACTUAL, i.COSTO_REFERENCIAL, i.STOCK_MAXIMO, i.STOCK_MINIMO 
	from PRODUCTO_INGREDIENTE p 
	inner join INGREDIENTE i on p.COD_INGREDIENTE=i.COD_INGREDIENTE 
	where p.COD_PRODUCTO = @cod
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ITEM_INGREDIENTE]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_ITEM_INGREDIENTE]
as
begin
select * from ITEM_INGREDIENTE
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ITEM_INGREDIENTE_POR_SOLICITUD]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_ITEM_INGREDIENTE_POR_SOLICITUD]
@nro int
as
begin
select * from ITEM_INGREDIENTE where NRO_SOLICITUD = @nro
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ITEM_POR_ORDEN]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ITEM_POR_ORDEN]
    @nro INT
AS
BEGIN


    SELECT 
        *
    FROM 
        ITEM_PRODUCTO
    WHERE 
        NRO_PEDIDO = @nro;
END;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ITEM_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_ITEM_PRODUCTO]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SELECT * FROM ITEM_PRODUCTO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_METODOS_DE_PAGO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
	CREATE PROCEDURE [dbo].[LISTAR_METODOS_DE_PAGO]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
SELECT * FROM METODO_DE_PAGO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_NOTA_DE_ENTREGA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_NOTA_DE_ENTREGA]
as
begin
Select * from NOTA_DE_ENTREGA
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ORDEN_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_ORDEN_DE_COMPRA]
as
begin
Select * from ORDEN_DE_COMPRA
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ORDEN_DE_COMPRA_POR_ESTADO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ORDEN_DE_COMPRA_POR_ESTADO]
    @estado_orden VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM ORDEN_DE_COMPRA
    WHERE ESTADO_ORDEN = @estado_orden;
END;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PAGO_INSUMO_POR_FACTURA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_PAGO_INSUMO_POR_FACTURA]
    @nro_factura INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        *
    FROM 
        PAGO_INSUMO
    WHERE 
        NRO_FACTURA = @nro_factura;
END;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PAGOS]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PAGOS]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SELECT * FROM PAGO

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PAGOS_EFECTIVO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PAGOS_EFECTIVO]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM PAGO_EFECTIVO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PAGOS_TARJETA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PAGOS_TARJETA]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM PAGO_TARJETA
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PEDIDO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PEDIDO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM PEDIDO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PEDIDO_POR_ESTADO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PEDIDO_POR_ESTADO] 
	-- Add the parameters for the stored procedure here
	@est varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM PEDIDO WHERE ESTADO = @est
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PEDIDO_POR_PAGADO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_PEDIDO_POR_PAGADO]
    @est varchar(50)
AS
BEGIN


    SELECT 
          *
    FROM 
        PEDIDO
    WHERE 
        ESTADO_PAGO = @est AND ESTADO <> 'Creado';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PERMISO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here
	SELECT * from PERMISO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PRODUCTO]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SElect * from PRODUCTO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTO_BITACORA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_PRODUCTO_BITACORA]
as
begin
Select * from PRODUCTO_C
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PROVEEDOR]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_PROVEEDOR]
as
begin
select * from PROVEEDOR
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLICITUD_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_SOLICITUD_DE_COMPRA]
as
begin
select * from SOLICITUD_DE_COMPRA
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLICITUD_DE_COMPRA_POR_ESTADO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_SOLICITUD_DE_COMPRA_POR_ESTADO]
    @estado VARCHAR(50)
AS
BEGIN


    -- Seleccionar las solicitudes de compra que coincidan con el estado
    SELECT 
        *
    FROM 
        SOLICITUD_DE_COMPRA
    WHERE 
        ESTADO = @estado;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLO_GRUPO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_SOLO_GRUPO] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from PERMISO where TIPO = 'G';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLO_PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_SOLO_PERMISO] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from PERMISO where TIPO = 'P';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	SELECT * from USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO_PERMISO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO_PERMISO]
	@id UNIQUEiDENTIFIER-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from USUARIO_PERMISO where ID_USUARIO=@id
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_DVH]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MODIFICAR_DVH]
    @tabla VARCHAR(50),
    @reg INT,
    @dv VARCHAR(200)
AS
BEGIN


    UPDATE DVH
    SET DV = @dv
    WHERE TABLA = @tabla AND REGISTRO = @reg;
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_DVV]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MODIFICAR_DVV]
    @tabla VARCHAR(50),
    @col INT,
    @dv VARCHAR(200)
AS
BEGIN

    UPDATE DVV
    SET DV = @dv
    WHERE TABLA = @tabla AND COLUMNA = @col;
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_FACTURA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_FACTURA]
    @nro_factura INT,
    @fecha DATETIME,
    @nro_orden INT,
    @total_cuotas INT,
    @monto FLOAT,
    @estado VARCHAR(50)
AS
BEGIN

        UPDATE FACTURA
        SET 
            FECHA = @fecha,
            NRO_ORDEN = @nro_orden,
            TOTAL_CUOTAS = @total_cuotas,
            MONTO = @monto,
            ESTADO = @estado
        WHERE NRO_FACTURA = @nro_factura;
        

END;
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_ORDEN_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_ORDEN_DE_COMPRA]
    @nro_orden INT,
    @fecha DATETIME,
    @cuit_proveedor INT,
    @nro_solicitud INT,
    @estado_orden VARCHAR(50),
    @observaciones VARCHAR(1000),
    @condicion_pago VARCHAR(100)
AS
BEGIN

    UPDATE ORDEN_DE_COMPRA
    SET 
        FECHA = @fecha,
        CUIT_PROVEEDOR = @cuit_proveedor,
        NRO_SOLICITUD = @nro_solicitud,
        ESTADO_ORDEN = @estado_orden,
        OBSERVACIONES = @observaciones,
        CONDICION_PAGO = @condicion_pago
    WHERE 
        NRO_ORDEN = @nro_orden;
END;
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PASSWORD]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MODIFICAR_PASSWORD]
	-- Add the parameters for the stored procedure here
	@id uniqueidentifier,
	@pass varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	update USUARIO
	set 
		PASSWORD=@pass
	where 
		ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_SOLICITUD_DE_COMPRA]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_SOLICITUD_DE_COMPRA]
    @nroSolicitud INT,
    @nuevoEstado VARCHAR(50)
AS
BEGIN

    UPDATE SOLICITUD_DE_COMPRA
    SET ESTADO = @nuevoEstado
    WHERE NRO_SOLICITUD = @nroSolicitud;

   
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_FACTURA_POR_ID]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_FACTURA_POR_ID]
    @nro_factura INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        *
    FROM 
        FACTURA
    WHERE 
        NRO_FACTURA = @nro_factura;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_METODO_POR_ID]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_METODO_POR_ID]
    @id INT
AS
BEGIN


    SELECT 
        mp.ID,
        mp.TIPO
    FROM METODO_DE_PAGO mp
    WHERE mp.ID = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_ORDEN_DE_COMPRA_POR_ID]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_ORDEN_DE_COMPRA_POR_ID]
    @nro_orden INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        *
    FROM 
        ORDEN_DE_COMPRA
    WHERE 
        NRO_ORDEN = @nro_orden;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_PAGO_EFECTIVO_POR_ID]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_PAGO_EFECTIVO_POR_ID]
    @id INT
AS
BEGIN


    SELECT 
        *
    FROM PAGO_EFECTIVO pe
    WHERE pe.ID = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_PAGO_POR_PEDIDO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_PAGO_POR_PEDIDO]
    @id INT
AS
BEGIN


    SELECT 
		*
    FROM PAGO p
    WHERE p.ID_PEDIDO = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_PROVEEDOR_POR_CUIT]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_PROVEEDOR_POR_CUIT]
    @cuit INT
AS
BEGIN


    SELECT 
        *
    FROM 
        PROVEEDOR
    WHERE 
        CUIT = @cuit;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_SOLICITUD_DE_COMPRA_POR_ID]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_SOLICITUD_DE_COMPRA_POR_ID]
    @nro INT
AS
BEGIN
    

    SELECT 
        *
    FROM 
        SOLICITUD_DE_COMPRA
    WHERE 
        NRO_SOLICITUD = @nro;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_TARJETA_POR_ID]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_TARJETA_POR_ID]
    @id INT
AS
BEGIN


    SELECT 
*
    FROM PAGO_TARJETA pt
    WHERE pt.ID = @id;
END;
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_PRODUCTO]    Script Date: 10/30/2024 9:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_PRODUCTO]
ON [dbo].[PRODUCTO]
AFTER INSERT
AS
BEGIN
    DECLARE @codProducto INT, @nombre VARCHAR(50), @descripcion VARCHAR(100), @precioActual FLOAT, @fecha DATE, @hora TIME;

    -- Obtener los datos del nuevo producto insertado
    SELECT @codProducto = COD_PRODUCTO, 
           @nombre = NOMBRE, 
           @descripcion = DESCRIPCION, 
           @precioActual = PRECIO_ACTUAL
    FROM INSERTED;

    -- Actualizar los registros antiguos del mismo producto en PRODUCTO_C a ACTIVO = 0
    UPDATE PRODUCTO_C
    SET ACTIVO = 0
    WHERE COD_PRODUCTO = @codProducto;

    -- Obtener la fecha y la hora actuales
    SET @fecha = GETDATE();
    SET @hora = CONVERT(TIME, GETDATE());

    -- Insertar el nuevo registro en PRODUCTO_C con ACTIVO = 1
    INSERT INTO PRODUCTO_C (COD_PRODUCTO, FECHA, HORA, NOMBRE, DESCRIPCION, PRECIO_ACTUAL, ACTIVO)
    VALUES (@codProducto, @fecha, @hora, @nombre, @descripcion, @precioActual, 1);
END;
GO
ALTER TABLE [dbo].[PRODUCTO] ENABLE TRIGGER [TRG_INSERT_PRODUCTO]
GO
/****** Object:  Trigger [dbo].[TRG_UPDATE_PRODUCTO]    Script Date: 10/30/2024 9:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_UPDATE_PRODUCTO]
ON [dbo].[PRODUCTO]
AFTER UPDATE
AS
BEGIN
    DECLARE @codProducto INT, @nombre VARCHAR(50), @descripcion VARCHAR(100), @precioActual FLOAT, @fecha DATE, @hora TIME;

    -- Obtener los datos del producto actualizado
    SELECT @codProducto = COD_PRODUCTO, 
           @nombre = NOMBRE, 
           @descripcion = DESCRIPCION, 
           @precioActual = PRECIO_ACTUAL
    FROM INSERTED;

    -- Actualizar los registros antiguos del mismo producto en PRODUCTO_C a ACTIVO = 0
    UPDATE PRODUCTO_C
    SET ACTIVO = 0
    WHERE COD_PRODUCTO = @codProducto;

    -- Obtener la fecha y la hora actuales
    SET @fecha = GETDATE();
    SET @hora = CONVERT(TIME, GETDATE());

    -- Insertar el nuevo registro en PRODUCTO_C con ACTIVO = 1
    INSERT INTO PRODUCTO_C (COD_PRODUCTO, FECHA, HORA, NOMBRE, DESCRIPCION, PRECIO_ACTUAL, ACTIVO)
    VALUES (@codProducto, @fecha, @hora, @nombre, @descripcion, @precioActual, 1);
END;
GO
ALTER TABLE [dbo].[PRODUCTO] ENABLE TRIGGER [TRG_UPDATE_PRODUCTO]
GO
USE [master]
GO
